.header {
  background: var(--gray-800);
  display: flex;
  justify-content: center;
  padding: 1.25rem;
}

.header h1 {
  font-size: 1.45rem;
}

.header img {
  height: 2rem;
  vertical-align: middle;
  margin-inline-end: 1rem;
}

