.sidebar {
  background: var(--gray-800);
  border-radius: 8px;
  overflow: hidden;
}

.cover {
  width: 100%;
  height: 4.5rem;
  object-fit: cover;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: calc(0px - 1.5rem - 12px);
}

.avatar {
  box-sizing: initial;
  width: 3rem;
  height: 3rem;
  border-radius: 8px;
  border: 4px solid var(--gray-800);
  outline: 2px solid var(--green-500);
  /* position: relative;
  top: -1.5rem; */
}

.profile strong {
  margin-top: 1rem;
  color: var(--gray-100);
  line-height: 1.6;
}

.profile span {
  font-size: 0.875rem;
  color: var(--gray-400);
}



.sidebar footer {
  border-top: 1px solid var(--gray-600);
  margin-top: 1.5rem;
  padding: 1.5rem 2rem 2rem;
}

.sidebar footer a {
  width: 100%;
  background: transparent;
  color: var(--green-200);
  text-decoration: none;
  text-align: center;
  border: 1px solid var(--green-200);
  border-radius: 8px;
  font-weight: 700;
  display: flex;
  height: 3.125rem;

  display: flex;
  align-items: center;
  justify-content: center;

  gap: .75rem;

  transition: all .3s ease-out;
}

/* .icon {
  margin-right: 0.5rem;
} */

.sidebar footer a:hover {
  color: var(--white);
  background: var(--green-500);
  transition: all .3s ease-in;
}