.wrapper {
  max-width: 70rem;
  margin: 2rem auto;
  padding: 0 1rem;

  display: grid;
  grid-template-columns: 16rem 1fr;
  gap: 2rem;
  align-items: flex-start;

}

@media (max-width: 768px) {
  .wrapper {
    grid-template-columns: 1fr;
  }
}